.mat-card {
    max-width: 1000px;
    max-height: 1000px;
}

@media (max-width: 400px) {
    .chimps {
        max-width: 300px;
        max-height: 700px;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    .chimps {
        max-width: 600px;
        max-height: 300px;
    }
}

@media (min-width: 768px) and (max-height: 400px) {
    .chimps {
        max-width: 900px;
        max-height: 400px;
    }
}

@media (min-width: 768px) and (min-height: 400px) {
    .chimps {
        max-width: 900px;
        max-height: 900px;
    }
}





.chimps:hover {
    cursor: pointer;
}